.load-more-container {
    span {
        font-size:13px;
    }
    cursor:pointer;
    display:block;
    width:100%;
    text-align:center;
    background-color:#F2F2F2;
    padding:10px;
    border:1px solid rgba(0,0,0,0.15);
    border-radius:10px;
}