<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="error"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>

  <targets>
    <target xsi:type="ApplicationInsightsTarget" name="aiTarget">
      <instrumentationKey>${var:instrumentationKey</instrumentationKey>
      <contextproperty name="threadid" layout="${threadid}" />
      <contextproperty name="message" layout="${message}" />
      <contextproperty name="exception" layout="${exception:tostring}" />
    </target>
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--Skip Microsoft logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="aiTarget" />
  </rules>
</nlog>
