<div class="modal fade" id="entityModal" tabindex="-1" role="dialog" aria-labelledby="entityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog" id="entityModalDialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="bold" id="entityModalLabel">loading...</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="row">
                                <div class="col-md-5">
                                    <strong>Dispatch Group:</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_DispatchGroup"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong>Dispatch Type:</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_PrimaryDispatchTypeCode"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong>Dispatch Type:</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_DispatchTypeDescription"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong >Node:</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_Node"></span>
                                </div>
                            </div>
                        </div>                       
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong >Sequence Number:</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_SequenceNumber"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong >Dispatch Endpoint Owner:</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_DispatchEndpointOwner"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong>User Resend:</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_IsUserResend"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong>Instruction ID:</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_WTPDispatchInstructionID"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong >Message Sent (LCL):</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_MessageSentTimeLocal"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong>Message Sent (UTC):</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_MessageSentTimeUTC"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong >Tradercode:</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_Tradercode"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong >Dispatch Value:</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_DispatchValue"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong>Dispatch Time (UTC):</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_DispatchTimeUTC"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong>DispatchTime (LCL):</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_DispatchTimeLocal"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong>Dispatch Issue (UTC):</strong>
                                </div>
                                <div class="col-md-4">
                                    <span id="_DispatchIssueTimeUTC"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong>AckType:</strong>
                                </div>
                                <div class="col-md-4">
                                    <div id="_AckType"></div>
                                </div>
                            </div>
                        </div> 
                         <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong >Correlation Id:</strong>
                                </div>
                                <div class="col-md-7">
                                    <span id="_CorrelationId"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                   
                    </div>
                </div>
        </div>

    </div>
</div>





