<div id="__HeartbearCollapseContainer" class="wrapper-holder collapse-container mb-5" data-collapsecontent="__HeartbeatContent">
    <div class="wrapper-title">
        <h2 tabindex="0" class="collapse-trigger">Heartbeat <i class="fas fa-chevron-down collapse-chevron"></i></h2>
    </div>
    <div id="__Heartbeat_Wrapper">
        <div class="wrapper">
            <div id="__HeartbeatContent" class="wrapper-content">
                <h5>Last heartbeat: <span id="_heartbeat" class="badge badge-warning"> ?? </span></h5>
            </div>
        </div>
    </div>
</div>
