
<div id="__SearchCollapseContainer" class="wrapper-holder collapse-container mb-5" data-collapsecontent="__SearchContent">
    <div class="wrapper-title">
        <h2 tabindex="0" class="collapse-trigger">Search <i class="fas fa-chevron-down collapse-chevron"></i></h2>
    </div>
    <div id="__Search_Wrapper">
        <div class="wrapper">

            <div id="__SearchContent" class="wrapper-content">

                <partial name="_SearchFormPartial" />

            </div>

        </div>
    </div>
</div>


