<div class="container-fluid main-container ">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">            
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>

    <partial name="_HeartbeatPartial" />

    <partial name="_InstructionsPartial" />

    <partial name="_searchPartial" />

    <partial name="_DetailsModal" />

</div>